.container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-items: center;
}

.exchangeInfo {
	display: flex;
	justify-self: flex-start;
	column-gap: 10px;
}

.exchangeLogo {
	width: 30px;
	height: 30px;
}