.header {
	height: 90px;
	color: var(--color-text);
	background-color: var(--header-color-bcg);
	position: sticky;
	top: 0;
	z-index: 10;
}

.header__wrapper {
	max-width: 1230px;
	height: 100%;
	padding: 0 15px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo{
	display: block;
	display: flex;align-items: center;
	color: var(--color-text);
	text-decoration: none;
	transition: color 0.2s ease;
}

.header__logo svg path {
	fill: var(--color-text);
	transition: fill 0.2s ease;
}

.header__logo:hover svg path {
	fill: #ff9800;
}

@media (max-width: 900px) {
	.header__componentHide {
		display: none;
	}
}

@media (max-width: 500px) {

	.header {
		height: 70px;
	}
}