.container {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	justify-items: center;
}

.coinContainer {
	display: grid;
	grid-template-columns: 1fr 6fr;
	justify-items: center;
	cursor: pointer;
}

.coinName {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.coinLogo {
	width: 40px;
	height: 40px;
}

.clickWrapper {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	justify-items: center;
	align-items: center;
}